#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.btn-div{
  display: flex;
  justify-content: center;
  gap: 5px;
}
.btn{
  padding: 5px 20px;
  background: grey;
}
.text{
  text-align: center;
}